@tailwind base;

/* Write your own custom base styles here */

input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
}

/* Start purging... */
@tailwind components;

html,
body {
  @apply bg-black font-default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-default;
}

@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

@font-face {
  font-family: Gentium;
  src: url(http://example.com/fonts/Gentium.woff);
}

button {
  @apply focus:outline-none;
}

/* Start purging... */
@tailwind utilities;

/* Your own custom utilities */
